.base-button {
    padding: 8px 16px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    background-color: $color-link;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    &:hover:not(:disabled) {
        background-color: darken($color-link, 5%);
    }
    &:disabled {
        filter: grayscale(1);
        pointer-events: none;
        opacity: 0.7;
    }
}
