.card-detail {
    padding-top: 20px;
    @include bp($bp-mobile) {
        padding-top: 0;
    }
    @include bp($bp-desktop-sm) {
        display: flex;
        align-items: flex-start;
    }
}

.card-detail__main {
    &:only-child {
        max-width: 900px;
        margin: 0 auto;
    }
}

.card-detail__image {
    img {
        width: 100%;
        border-radius: 16px;
    }
}

.card-detail__content {
    padding: 8px 12px;
    background-color: #fff;
    @include bp($bp-mobile) {
        padding: 16px 24px;
    }
}

.card-detail__date {
    color: #6e798c;
    font-weight: 500;
    font-size: 14px;
}

.card-detail__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.card-detail__tag {
    color: $color-link;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    &:not(:last-child) {
        margin-right: 12px;
    }
}

.card-detail__title {
    margin: 0 0 20px;
    font-size: 20px;
    text-align: center;
    @include bp($bp-desktop-sm) {
        font-size: 30px;
    }
}

.card-detail__text {
    line-height: 22px;
    font-size: 14px;
    @include bp($bp-mobile) {
        line-height: 28px;
        font-size: 16px;
    }
    ul,
    ol {
        margin: 15px 0;
        padding-left: 25px;
    }
    h2,
    h3 {
        margin: 15px 0;
    }
    p {
        margin: 10px 0;
    }
    pre {
        padding: 10px;
        background-color: #f3f3f3;
        border-radius: 12px;
    }
    img {
        height: auto;
        border-radius: 12px;
    }
}
